---
import Layout from '~/layouts/PageLayout.astro';
// import { getPermalink, getAsset } from '~/utils/permalinks';
// import getPermalink from '~/utils/permalinks';
import Hero from '~/components/widgets/Hero.astro';
import Features from '~/components/widgets/Features.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Steps from '~/components/widgets/Steps.astro';
// import Carrousel from '~/components/react/Carrousel';
import SlideShow from '~/components/react/SlideShow';
// import SimpleSlide from '~/components/react/SimpleSlide';
// import Carrousel from '~/components/Carrousel.astro';
const metadata = {
  title: 'GigaNet World',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->
  <div class="w-full h-90 flex justify-center items-center">
    <!-- <Carrousel client:load /> -->
     <!-- <Carrousel client:visible/> -->
     <SlideShow client:load/>
  </div>

  <Hero>
    <!-- <SimpleSlide client:load /> -->
    <Fragment slot="title" >
      <!-- Conectando tu mundo a la velocidad de la luz -->
      <span class="text-blue-700 dark:text-sky-600 highlight">GigaNet</span>
      es la mejor solución para tus necesidades de conectividad
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        Nuestra infraestructura de fibra óptica garantiza una conexión estable y de alta
        velocidad, perfecta para hogares y oficinas que requieren una conectividad sin interrupciones.</span
      >
    </Fragment>
  </Hero>


  <Features
    id="features"
    title="Elige la mejor solución para tus necesidades de conectividad"
    subtitle="Con planes flexibles y adaptados a tus necesidades, GigaNet te ofrece la mejor experiencia en internet para que disfrutes de una navegación fluida y sin preocupaciones."
  />
  <Steps
    title="solamente tienes que..."
    tagline="Para adquirirlo"
    isReversed={true}
    items={[
      {
        title: 'Explorar nuestros planes',
        icon: 'tabler:number-1',
      },
      {
        title: 'Seleccionar el plan que mejor se adapte a tus necesidades',
        icon: 'tabler:number-2',
      },
      {
        title: 'Ponerte en contacto con nuestro equipo de soporte',
        icon: 'tabler:number-3',
      },
      {
        title: 'Elegir una fecha para la instalación',
        icon: 'tabler:number-4',
      },
      {
        title: 'Disfrutar de la mejor conexión',
        icon: 'tabler:number-5',
      },
    ]}
    image={{
      src: '~/assets/images/girl.jpg',
      alt: 'Steps image',
    }}
  />

  <Stats
    stats={[
      {  amount: 'Velocidad' },
      {  amount: 'Confiabilidad' },
      {  amount: 'Innovación' },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Ver planes',
        href: '/pricing',
        // href: getPermalink('/pricing'),
        target: '',
        icon: 'tabler:arrow-right',
      },
    ]}
  >
    <Fragment slot="title">
      <br class="block sm:hidden" /><span class="sm:whitespace-nowrap">¿Que esperas para cambiarte?</span>
    </Fragment>

    <Fragment slot="subtitle">
      Sé parte de la comunidad de GigaNet y ten la mejor experiencia
    </Fragment>
  </CallToAction>
</Layout>